<!-- forgot_password.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="../../static/css/output.css">
  </head>
<body class="bg-gray-100 flex items-center justify-center mt-32 max-md:mt-12 font-poppins">

  {% if messages %}
  <div id="message-container" class="absolute font-lato shadow-md text-white  max-w-[80%] w-[21rem] max-md:min-w-[80%] top-4 max-md:top-3 left-8 mt-8">
      {% for message in messages %}
      <div class="{% if message.tags == 'success' %}bg-green-500 {% elif message.tags == 'error' %}bg-red-500 {% else %}bg-gray-500 {% endif %} px-6 py-5 rounded-md flex flex-row justify-center items-center gap-4">
          <p class="w-full">{{ message }}</p>
          <button class="top-1 right-2 text-white" onclick="this.parentElement.remove();">✖</button>
  
      </div>
      {% endfor %}
  </div>
  {% endif %}


    <div class="bg-white p-8 rounded-lg shadow-lg w-96">
        <h1 class="text-2xl max-sm:text-xl font-bold text-center text-gray-800">Verification Code</h1>
        <p class="mt-4 text-lg max-sm:text-sm text-center text-gray-600">We sent you a verification code to reset your password.</p>

        <form method="post" action="/password_reset" class="mt-6">
            {% csrf_token %}

            <div class="mb-4">
                 <div>Name: <span class="font-bold">{{first_name}}</span> </div>
                 
            </div>

            <div class="mb-4 text-start min-w-[300px]">
                <label for="password" class="block text-gray-700 text-md font-medium mb-1">New Password</label>
                <input type="password" maxlength="4" name="password" class="input peer block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500 placeholder:text-sm" required placeholder="Enter your password">
            </div>

            <div class="mb-4 text-start min-w-[300px]">
                <label for="password" class="block text-gray-700 text-md font-medium mb-1">Confirm Password</label>
                <input type="text" maxlength="4" name="con_password" class="input peer block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500 placeholder:text-sm" required placeholder="Confirm your password">
            </div>
            <div class="mb-4">
                <label for="phone_number" class="block text-sm font-medium text-gray-700">Enter the verfication code sent to <span class="inline text-black">{{phone_number}}</span></label>
                <input type="text" id="otp" maxlength="5"  name="otp" class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
            <div class="flex justify-center">
                <button type="submit" class="px-6 py-2 bg-green-400   hover:bg-green-500 duration-700 hover:duration-700 text-white rounded-lg">Verify</button>
            </div>
        </form>

        <div class="mt-6 text-center">
            <a href="/login" class="text-blue-500 hover:text-blue-700">Back to Login</a>
        </div>
    </div>

<script src="../../static/js/register.js"></script>
</body>
</html>
