<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../../static/css/output.css">
</head>
<body>
  <div class="relative">
  
  <div class="div-1 absolute top-0 w-full bg-red-600 z-0">Div 1</div>
  <div class="div-2 absolute top-0 W-full bg-green-600 z-10">Div 2</div>
  <div class="div-3 absolute top-0 W-full bg-yellow-600 z-20"> Div 3</div>
</div>

<style>

  .div-3 {
    rotate: 0;
  }

  .div-3:hover {

    transform: rotateY('180deg');
    transition: all 1000ms ease-in-out;

  }

</style>
</body>
</html>