<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alternative Detail</title>
    <link rel="stylesheet" href="../../../static/css/output.css">
</head>
<body class="font-poppins bg-gray-100 mx-auto flex">

<div class="fixed min-w-[328px] rounded-md  border top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] py-10 px-6  shadow-lg ">


<h2 class="text-2xl font-bold mb-2 text-active-text">{{ alternative.name }}</h2>

<p class="mb-1"><strong>ID:</strong> {{ alternative.id }}</p>
<p class="mb-1"><strong>Calories per Rep:</strong> {{ alternative.caloriesPerRep }}</p>
<p class="mb-1"><strong>Equipment Needed:</strong> {{ alternative.equipment|yesno:"Yes,No" }}</p>
<p class="mb-4"><strong>Description:</strong> {{ alternative.description }}</p>

<a href="{% url 'add_exercise' %}" class="text-blue-400">← Back to the form</a>
</div>

    
</body>
</html>