<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gymnify</title>
    <link
      rel="icon"
      href="../../static/assets/logo/logo_white.svg"
      type="image/png"
    />

    <link rel="stylesheet" href="../../static/css/output.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <div
      id="updating_msg"
      class="fixed left-[50%] -translate-x-[50%] p-2 max-w-md bg-teal-300 shadow-md font-poppins text-lg top-8 rounded-lg animate animate-pulse duration-100"
    >
      Updating
    </div>

    <div
      class="fixed items-center bottom-0 w-full max-w-[94%] md:left-[50%] md:-translate-x-[50%] md:max-w-md left-[11px] bg-white flex justify-around py-3 shadow-[0_-2px_10px_rgba(0,0,0,0.1)] z-[100000001] rounded-t-2xl"
    >
      <div
        class="flex flex-col items-center cursor-pointer px-2 py-1 text-gray-500 rounded transition-all hover:text-purple-500"
        onclick="navigateTo('home')"
      >
        <i class="fas fa-home text-[20px] mb-1 text-gray-500"></i>
        <span class="text-xs">Home</span>
      </div>

      <div
        class="flex flex-col items-center cursor-pointer px-2 py-1 text-gray-500 rounded transition-all hover:text-purple-500"
        id="exerciseButton"
      >
        <i class="fas fa-dumbbell rotate-[30deg] text-[20px] mb-1"></i>
        <span class="text-xs">Exercise</span>
      </div>

      <div
        class="flex flex-col items-center cursor-pointer px-2 py-1 text-gray-500 rounded transition-all hover:text-purple-500"
      >
        <i class="fas fa-utensils text-[20px] mb-1"></i>
        <span class="text-xs">Nutrition</span>
      </div>

      <div
        class="flex flex-col items-center cursor-pointer px-2 py-1 text-gray-500 rounded transition-all hover:text-purple-500"
      >
        <i class="fas fa-chart-pie text-[20px] mb-1"></i>
        <span class="text-xs">Report</span>
      </div>
      <div
        class="flex flex-col items-center cursor-pointer px-2 py-1 text-[#9d80c1] rounded transition-all hover:text-purple-500"
        id="profileButton"
        onclick="navigateTo('profilepage')"
      >
        <i class="fas fa-user text-[20px] mb-1"></i>
        <span class="text-xs">Profile</span>
      </div>
    </div>

    {% if messages %}
    <div
      id="message-container"
      class="absolute font-lato shadow-md text-white max-w-[80%] w-[21rem] max-md:min-w-[80%] top-4 left-8 mt-8"
    >
      {% for message in messages %}
      <div
        class="{% if message.tags == 'success' %}bg-green-500 {% elif message.tags == 'error' %}bg-red-500 {% else %}bg-gray-500 {% endif %} padding-x py-5 rounded-md flex flex-row justify-center items-center gap-4"
      >
        <p class="w-full">{{ message }}</p>
        <button
          class="top-1 right-2 text-white"
          onclick="this.parentElement.remove();"
        >
          ✖
        </button>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <main
      class="w-full overflow-y-auto md:w-[600px] shadow-lg max-h-full fixed left-1/2 top-1/2 z-40 translate-x-[-50%] translate-y-[-50%]"
    >
      V

      {% csrf_token %}

      <div
        class="flex flex-col gap-16 justify-start items-start w-full text-slate-gray py-4"
      >
        <div class="flex flex-col items-center justify-center w-full gap-8">
          <div
            id="profileDiv"
            class="rounded-full border relative cursor-pointer min-w-20 min-h-20 bg-gray-400 flex items-center justify-center flex-col space-y-4 text-white font-poppins overflow-hidden group bg-cover bg-center bg-no-repeat"
          >
            <div
              class="absolute inset-0 flex justify-center items-center w-full h-full"
            >
              <img
                id="previewImage"
                class="object-cover object-center w-full h-full"
                src="{% if profile.profile_photo %}{{ profile.profile_photo }}{% else %}../../static/assets/images/guest.png{% endif %}"
                alt="Profile Photo"
              />
            </div>
            <div>
              <div
                id="profileDivText"
                class="flex justify-center font-bold items-center font-montserrat text-md w-full absolute bottom-0 bg-gray-200 left-0 text-center group-hover:opacity-80 opacity-0 transition-opacity duration-1000"
              >
                <img
                  id="previewImage"
                  width="20"
                  height="20"
                  src="../../static/assets/logo/camera-white.png"
                  alt="Profile Photo"
                />
              </div>
            </div>
            <input type="file" id="profilePhotoInput" class="hidden" />
          </div>

          <div
            class="font-montserrat text-3xl flex-1 text-right max-md:text-center"
          >
            {{profile.full_name}}
          </div>
        </div>

        <div
          class="grid grid-cols-1 pt-8 pb-20 max-md:px-2 md:px-6 justify-between md:space-x-8 rounded-lg bg-white shadow-lg w-full min-h-40"
          autocomplete="on"
        >
          <div
            class="font-palanquin text-4xl max-md:text-3xl text-active-text font-bold mb-10"
          >
            Additional Information
          </div>

          <div class="grid gap-x-36 max-md:gap-x-20 grid-cols-1">
            <!--Basic Information Form-->

            <form
              class="mb-8 p-4 border border-gray-300 rounded-lg border-solid shadow-md"
              action="/profilepage/"
              autocomplete="on"
              method="POST"
            >
              {% csrf_token %}
              <input type="hidden" name="form_type" value="basic_information" />
              <h1
                class="text-2xl font-montserrat border-b-2 pb-2 border-solid mb-4"
              >
                Basic Information
              </h1>
              <div class="mb-4 max-w-md">
                <label
                  for="email"
                  class="block text-gray-700 text-sm font-medium mb-1"
                  >Email</label
                >
                <input
                  type="email"
                  name="email"
                  min="14"
                  class="input peer block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500"
                  value="{{email}}"
                  required
                  placeholder="Enter your email"
                />
              </div>

              <div class="mb-4 max-w-md">
                <label
                  for="gender"
                  class="block text-gray-700 text-sm font-medium mb-1"
                  >Gender</label
                >
                <p class="border p-2 font-semibold text-black max-w-[100px] rounded-md border-md font-poppins text-md mb-2">
                  {% if profile.gender %}
                  {{profile.gender|capfirst}}
                 {% else %}
                   Not specified
                 {% endif %}
                </p>
                <select
                  type="text"
                  name="gender"
                  class="input peer block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus focus:ring-green-200"
                  required
                >
                  <option value="male" name="male">Male</option>
                  <option value="female" name="female">Female</option>
                </select>
              </div>
              <div class="mb-4 max-w-md">
                <label
                  for="age"
                  class="block text-gray-700 text-sm font-medium mb-1"
                  >Age</label
                >
                <input
                  type="number"
                  name="age"
                  min="14"
                  class="input peer block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500"
                  value="{{profile.age}}"
                  required
                  placeholder="Enter your age"
                />
              </div>
              <div class="mb-4 max-w-md">
                <label
                  for="weight"
                  class="block text-gray-700 text-sm font-medium mb-1"
                  >Weight (in kg)</label
                >
                <input
                  type="number"
                  min="30"
                  name="weight"
                  class="input peer block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500"
                  value="{{profile.weight}}"
                  required
                  placeholder="Enter your weight"
                />
              </div>
              <div class="mb-4 max-w-md">
                <label
                  for="height"
                  class="block text-gray-700 text-sm font-medium mb-1"
                  >height (in centi-meter)</label
                >
                <input
                  type="number"
                  min="1"
                  name="height"
                  class="input peer block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500"
                  value="{{profile.height}}"
                  required
                  placeholder="Enter your height"
                />
              </div>

              <div
                class="flex justify-between mt-15 mb-8 border-t-2 border-solid text-black font-palanquin pt-4 padding-x"
              >
                <div>
                  <button
                    id="refreshPage"
                    class="flex gap-2 items-center justify-center"
                  >
                    <img
                      width="20"
                      height="20"
                      src="../../static/assets/logo/refresh.png"
                      alt=""
                    />Refresh
                  </button>
                </div>
                <div>
                  <button
                    id="submitBtn"
                    type="submit"
                    class="flex gap-2 items-center justify-center"
                  >
                    <img
                      width="20"
                      height="20"
                      src="../../static/assets/logo/update.png"
                      alt=""
                    />Update
                  </button>
                </div>
              </div>
            </form>

            <!--Health information form-->

            <form
              class="mb-8 p-4 border border-gray-300 rounded-lg border-solid shadow-md"
              action="/profilepage/"
              autocomplete="on"
              method="POST"
            >
              {% csrf_token %}
              <input
                type="hidden"
                name="form_type"
                value="health_information"
              />
              <h1 class="font-montserrat text-2xl mb-4">Health Information</h1>

              <div class="mb-4 max-w-md">
                <label
                  for="health_status"
                  class="block text-gray-700 text-sm font-medium mb-1"
                  >Health Status</label
                >
                <input
                  type="text"
                  name="health_status"
                  min="1"
                  class="input peer block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500"
                  required
                  value="{%if profile.health_status%}{{profile.health_status}}{%else%}{%endif%}"
                  placeholder="Enter your health status"
                />
              </div>

              <div class="mb-4 max-w-md">
                <label
                  for="blood_type"
                  class="block text-gray-700 text-sm font-medium mb-1"
                  >Blood Type</label
                >
                <input
                  type="text"
                  name="blood_type"
                  min="1"
                  class="input peer block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500"
                  required
                  value="{%if profile.blood_type%}{{profile.blood_type}}{%else%}{%endif%}"
                  placeholder="Enter your blood type"
                />
              </div>

              <div class="mb-4 max-w-md">
                <label
                  for="fitness_goal"
                  class="block text-gray-700 text-sm font-medium mb-1"
                  >Fitness Goal</label
                >
                <input
                  type="text"
                  name="fitness_goal"
                  class="input peer block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500"
                  value="{%if profile.fitness_goal%}{{profile.fitness_goal}}{%else%}{%endif%}"
                  placeholder="Enter your fitness goal"
                />
              </div>

              <div class="mb-4 max-w-md">
                <label
                  for="activityLevel"
                  class="block text-gray-700 text-sm font-medium mb-1"
                  >Activity Level</label
                >
                <select
                  id="activityLevel"
                  name="activityLevel"
                  class="input peer block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500"
                >
                  <option value="sedentary_level">Sedentary Level</option>
                  <option value="lightly_active">Lightly Active</option>
                  <option value="moderately_active">Moderately Active</option>
                  <option value="very_active">Very Active</option>
                </select>
              </div>
              <div
                class="flex justify-between mt-15 mb-8 border-t-2 border-solid text-black font-palanquin pt-4 padding-x"
              >
                <div>
                  <button
                    id="refreshPage"
                    class="flex gap-2 items-center justify-center"
                  >
                    <img
                      width="20"
                      height="20"
                      src="../../static/assets/logo/refresh.png"
                      alt=""
                    />Refresh
                  </button>
                </div>
                <div>
                  <button
                    id="submitBtn"
                    type="submit"
                    class="flex gap-2 items-center justify-center"
                  >
                    <img
                      width="20"
                      height="20"
                      src="../../static/assets/logo/update.png"
                      alt=""
                    />Update
                  </button>
                </div>
              </div>
            </form>

            <!--Activity information form-->

            <form
              class="mb-8 p-4 border border-gray-300 rounded-lg border-solid shadow-md"
              action="/profilepage/"
              autocomplete="on"
              method="POST"
            >
              {% csrf_token %}
              <input
                type="hidden"
                name="form_type"
                value="activity_information"
              />

              <h1 class="font-montserrat text-2xl mb-4">
                Activity Information
              </h1>

              <div class="mb-4 max-w-md">
                <label
                  for="enteringTime"
                  class="block text-gray-700 text-sm font-medium mb-1"
                  >Entering Time</label
                >
                <input
                  type="time"
                  name="enteringTime"
                  class="input peer block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500"
                  value="{%if profile.enteringTime%}{{profile.enteringTime}}{%else%}{%endif%}"
                  placeholder="Enter your entering time"
                />
              </div>

              <div class="mb-4 max-w-md">
                <label
                  for="exercise_type"
                  class="block text-gray-700 text-sm font-medium mb-1"
                  >Exercise type</label
                >
                <input
                  type="text"
                  name="exercise_type"
                  min="1"
                  class="input peer block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500"
                  required
                  value="{% if profile.exercise_type %}{{ profile.exercise_type }}{% else %}{% endif %}"
                  placeholder="Enter your exercise type"
                />
              </div>
              <div class="mb-4 max-w-md">
                <label
                  for="exercise_time_per_day"
                  class="block text-gray-700 text-sm font-medium mb-1"
                  >Exercise Time Per Day</label
                >
                <input
                  type="text"
                  name="exercise_time_per_day"
                  min="1"
                  class="input peer block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500"
                  value="{%if profile.exercise_time_per_day %}{{profile.exercise_time_per_day}}{%else%}{%endif%}"
                  placeholder="Enter the exercise time per day"
                />
              </div>
              <div class="mb-4 max-w-md">
                <label
                  for="totalTimeSpendOnGym"
                  class="block text-gray-700 text-sm font-medium mb-1"
                  >Total Time Spend on Gym</label
                >
                <input
                  type="text"
                  name="totalTimeSpendOnGym"
                  class="input peer block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500"
                  value="{%if profile.totalTimeSpendOnGym %}{{profile.totalTimeSpendOnGym}}{%else%}{%endif%}"
                  placeholder="Enter your average total time in minute."
                />
              </div>

              <div
                class="flex justify-between mt-15 mb-8 border-t-2 border-solid text-black font-palanquin pt-4 padding-x"
              >
                <div>
                  <button
                    id="refreshPage"
                    class="flex gap-2 items-center justify-center"
                  >
                    <img
                      width="20"
                      height="20"
                      src="../../static/assets/logo/refresh.png"
                      alt=""
                    />Refresh
                  </button>
                </div>
                <div>
                  <button
                    id="submitBtn"
                    type="submit"
                    class="flex gap-2 items-center justify-center"
                  >
                    <img
                      width="20"
                      height="20"
                      src="../../static/assets/logo/update.png"
                      alt=""
                    />Update
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <script src="../../static/js/profile-page.js"></script>
        <script src="../../static/js/submitting.js"></script>
        <script src="../../static/js/message-continer.js"></script>

        <script>
          function navigateTo(path) {
            if (path === "logout") {
              window.location.href = "/login";
            } else {
              window.location.href = `/${path}`;
            }
          }
        </script>

        <script>
          document
            .getElementById("exerciseButton")
            .addEventListener("click", function () {
              const userEmail = "{{ profile_data.email|escapejs }}";
              console.log("This is the user email");
              console.log(userEmail);

              if (userEmail) {
                localStorage.setItem("user_email", userEmail);
                console.log("User email saved:", userEmail);

                fetch("http://10.27.114.94:5173/exercise", {
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  body: JSON.stringify({ email: userEmail }),
                })
                  .then((response) => response.json())
                  .then((data) => {
                    console.log("User data sent successfully:", data);
                    window.location.href = "http://10.27.114.94:5173/exercise";
                  })
                  .catch((err) => {
                    console.error("Error sending user data:", err);
                    window.location.href = "http://10.27.114.94:5173/exercise";
                  });
              } else {
                console.warn("User email not found, redirecting anyway");
              }
            });

          document
            .getElementById("homeButton")
            .addEventListener("click", function () {
              window.location.href = "/home";
            });
          function redirectToChecking() {
            window.location = "/checking_profile";
          }
        </script>
      </div>
    </main>
  </body>
</html>
